// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html { height: 100% }
body { height: 100%; margin: 0; padding: 0; font-family: "tahoma";}
#map_canvas { height: 100% }
#map-wrapper {
    float: left;
    height: 400px;
    width: 400px;
}

#tweets {
    float: left;
    width: 400px;
    height: 200px;
    overflow-x: hidden;
    border: 1px solid #252525;
}

.tweet {
    padding: 15px 30px;
}

