<div id="map_wrapper""><div id="map_canvas"></div>
<div id="tweets_wrapper"><h1>Eatin' & Tweetin'</h1>
  <div id="tweets"></div>
  
  <div id="footer">
    <a href='http://blogs.ischool.berkeley.edu/i290-abdt-s12/projects/twyelpstagram/'>about</a> | <a href='https://github.com/berkeley-food-recommendations'>github</a> 

</div></div>
<div id="instas"></div>
</div>


