265945721256157184      I'm at Cancun Taqueria (Berkeley, CA) http://t.co/wCKCZDsQ      159660011       Cancun
265958937638084609      Getting Jamba Juice. #bejelous  926394343       Jamba Juice
265964908867375106      My favrito #Starbucks @ Starbucks http://t.co/E7HDU6SN  41701053        Starbucks
265978150469652480      I really want Taco Bell..       406490141       Taco Bell
265981958973165570      I love my pseudo little! 👯 kdpetty  @ Starbucks http://t.co/x50Qc5dQ    507895992       Starbucks
265982166322790401      Just a little something before dinner....I'm feeling super drained. (@ Chipotle Mexican Grill) http://t.co/nuyGpbIX     2625531 Chipotle Mexican Grill
265984949029572608      On the occasion of your birthday, we salute you with this sunset @ficofranco   Salud!!
