<html>
<head>

  <!-- leaflet files -->
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
  <![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
  <!-- d3 files -->
  <script src="http://d3js.org/d3.v2.js"></script>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <!-- document files -->
  <link rel="stylesheet" href="mapstyle.css" />

</head>
<body>
  <%= yield %>

</body>
</html>
