/*
* Makes the initial call to load the restaurant data JSON when the page finishes loading.
*/

function loadScript() {
  $.ajax({
  url: 'rest_data',
  dataType: 'text',
  success: function(data) {
    var rests = JSON.parse(data);
    make_rests_map(rests);
  }
});

}

window.onload = loadScript;

/*
 * Initializes a Google map of the Berkeley area and takes a JSON of restaurant data as collected from Factual
 * and adds pins to the Berkeley map. Clicking a pin loads tweets about the specific restaurant into the sidebar.
 */

function make_rests_map(rests) {
    
  var mapOptions = {
    zoom: 14,
    center: new google.maps.LatLng(37.8717, -122.2640),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }

  var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);


  console.log("setting up markers");
  var markers = [];
  var image = new google.maps.MarkerImage(
    "<%= asset_path('pin.png') %>",
    new google.maps.Size(30,35),
    new google.maps.Point(0,0),
    new google.maps.Point(0,35)
  );

  var shadow = new google.maps.MarkerImage(
    "<%= asset_path('shadow.png') %>",
    new google.maps.Size(52,35),
    new google.maps.Point(0,0),
    new google.maps.Point(0,35)
  );

  var shape = {
    coord: [25,0,27,1,28,2,28,3,29,4,29,5,29,6,29,7,29,8,29,9,29,10,29,11,29,12,29,13,29,14,29,15,29,16,29,17,29,18,29,19,29,20,29,21,29,22,29,23,29,24,29,25,28,26,27,27,12,28,10,29,10,30,9,31,9,32,8,33,8,34,7,34,7,33,6,32,6,31,5,30,5,29,4,28,3,27,2,26,1,25,1,24,1,23,0,22,0,21,0,20,0,19,0,18,0,17,0,16,0,15,0,14,0,13,0,12,0,11,0,10,0,9,0,8,0,7,0,6,0,5,0,4,0,3,1,2,2,1,5,0,25,0],
    type: 'poly'
  };

  for (var i = 0; i < rests.length; i++) {
     rest = rests[i];
     var latlng = new google.maps.LatLng(rest.latitude, rest.longitude);
     var marker = new google.maps.Marker({
         position: latlng,
         title: rest.name,
         icon: image,
         shape: shape,
         shadow: shadow,
         rest_id: rest.factual_id
         });
     markers.push(marker);
     marker.setMap(map);

     google.maps.event.addListener(marker, 'click', function() {
        click_pin(this.rest_id);
     });
  }
  console.log("finished markers");
  //var markerCluster = new MarkerClusterer(map, markers); 

}

/*
 * Handles the AJAX request to retrieve a restaurant's most recent tweets when a pin is selected.
 */
function click_pin(rest_id) {
    console.log("Id was " + rest_id);
    $.ajax({
        url: "get_tweets",
        data: {"rest_id": rest_id},
        dataType: "json",
        success: function(data) {
            update_tweets(data);
        }
    });
}

/*
 * Processes the most recent tweets fetched for a particular restaurant.
 */
function update_tweets(tweets) {
    $('#tweets').html('');
    new_tweets = "";
    for (var i = 0; i < tweets.length; i++) {
        tweet = "<div class='tweet'>" + tweets[i].text + "</div>"
        new_tweets += tweet;
    }
    $('#tweets').html(new_tweets);
}




